.user_space {
  display: flex;
  justify-content: space-between;
}

.button5 {
  font-weight: bold;
  color: white;
  border-radius: 2rem;
  cursor: pointer;
  width: 95.02px;
  height: 42.66px;
  border: none;
  background-color: #3653f8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50%;
  margin-right: 50%;
}

.button5 .span-mother {
  display: flex;
  overflow: hidden;
}

.button5:hover .span-mother {
  position: absolute;
}

.button5:hover .span-mother .span5 {
  transform: translateY(1.2em);
}

.button5 .span-mother .span5:nth-child(1) {
  transition: 0.2s;
}

.button5 .span-mother .span5:nth-child(2) {
  transition: 0.3s;
}

.button5 .span-mother .span5:nth-child(3) {
  transition: 0.4s;
}

.button5 .span-mother .span5:nth-child(4) {
  transition: 0.5s;
}

.button5 .span-mother .span5:nth-child(5) {
  transition: 0.6s;
}

.button5 .span-mother .span5:nth-child(6) {
  transition: 0.7s;
}

.button5 .span-mother2 {
  display: flex;
  position: absolute;
  overflow: hidden;
}

.button5 .span-mother2 .span5 {
  transform: translateY(-1.2em);
}

.button5:hover .span-mother2 .span5 {
  transform: translateY(0);
}

.button5 .span-mother2 .span5 {
  transition: 0.2s;
}

.button5 .span-mother2 .span5:nth-child(2) {
  transition: 0.3s;
}

.button5 .span-mother2 .span5:nth-child(3) {
  transition: 0.4s;
}

.button5 .span-mother2 .span5:nth-child(4) {
  transition: 0.5s;
}

.button5 .span-mother2 .span5:nth-child(5) {
  transition: 0.6s;
}

.button5 .span-mother2 .span5:nth-child(6) {
  transition: 0.7s;
}

.container_test {
  max-width: 800px;
  height: auto;
  margin: auto;
  margin-top: 2px;
  background: rgb(222, 220, 220);
  color: #262626;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 40px 50px;
}
.container_test h1 {
  font-size: 25px;
  font-family: "Graduate", serif;
}

.container_test h2 {
  font-size: 22px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.container_test ul li {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 15px;
  border: 1px solid #686868;
  border-radius: 8px;
  margin-bottom: 17px;
  font-size: 17px;
  cursor: pointer;
}

.test_btn {
  --primary-color: #645bff;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  width: 300px;
  cursor: pointer;
  justify-content: center;
  margin: auto;
}

.test_btn .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.test_btn .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.test_btn .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.test_btn:hover {
  background-color: var(--hover-color);
}

.test_btn:hover .arrow {
  background: var(--secondary-color);
}

.test_btn:hover .arrow:before {
  right: 0;
}

.index {
  display: flex;
  justify-content: center;
}

.container_test .correct {
  background: #dffff2;
  border-color: #00d397;
}
.container_test .wrong {
  background: #ffebeb;
  border-color: #ff4a4a;
}

.submit_btn {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color: #171717;
  padding: 1em 2em;
  border: none;
  border-radius: 0.6rem;
  position: relative;
  cursor: pointer;
  width: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: auto;
}

.submit_btn .span_btn:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  background-color: #0c66ed;
  border-radius: 50%;
  transition: 0.6s ease;
}

.submit_btn .span_btn:nth-child(6) {
  position: relative;
}

.submit_btn .span_btn:nth-child(1) {
  transform: translate(-3.3em, -4em);
}

.submit_btn .span_btn:nth-child(2) {
  transform: translate(-6em, 1.3em);
}

.submit_btn .span_btn:nth-child(3) {
  transform: translate(-0.2em, 1.8em);
}

.submit_btn .span_btn:nth-child(4) {
  transform: translate(3.5em, 1.4em);
}

.submit_btn .span_btn:nth-child(5) {
  transform: translate(3.5em, -3.8em);
}

.submit_btn:hover .span_btn:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
}

.button {
  display: block;
  position: relative;
  width: 56px;
  height: 56px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.button:before,
.button:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
}

.button:before {
  border: 4px solid #1c1b1b;
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button:after {
  border: 4px solid #96daf0;
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

.button:hover:before,
.button:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.button:hover:after,
.button:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button-box {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.button-elem {
  display: block;
  width: 20px;
  height: 20px;
  margin: 17px 18px 0 18px;
  transform: rotate(180deg);
  fill: #1c1b1c;
}

.button:hover .button-box,
.button:focus .button-box {
  transition: 0.4s;
  transform: translateX(-56px);
}

.test_t{
  display: flex;
  justify-content: space-between;
}

.tour{
  font-size: 23px;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  cursor: pointer;
}

.tooltip-custom {
  max-width: 200px; 
  white-space: normal; 
}
